
body { 
    font-family: 'Chivo', sans-serif;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 10px;

    /* background-color: #2196F3; */
}

.grid-container div {
    padding: 20px;
    /* background-color: rgba(255, 255, 255, 0.8); */
}

.signin-top-menu {
    grid-column-start: 1;
    grid-column-end: 4;
    
    text-align: right;
    background-color:rgba(255, 201, 43, 1);
}

.signin-top-menu img {
    width: 10em;
    height: auto;
    float: left;
    display: flex;
    justify-content: left;
    margin-left: 1.5em;
    /* margin-top: 1.5em; */
}

.login-btn {
    float: right;
    position: relative;
    border-radius: 1.5em;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    background-color:rgba(255, 201, 43, 1);
    padding: 5px 40px;
    font-size: 1.25em;
    font-family: 'Chivo', sans-serif;
}

.login-btn:hover {
    border-color: rgba(0, 0, 0, 1);
    background-color:rgba(0, 0, 0, 1);
    color: rgba(255, 201, 43, 1);
}

.signin-text {
    grid-column: 1/2;
    grid-row: 2/4;

    /* font-size: 2.5em; */
    text-align: left;
}

.signin-text h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;

    padding-left: 1.5em;
    padding-top: 2.3em;
}

.signin-text p {
    padding-left: 3.5em;

    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}

.signin-form {
    grid-column: 2/4;
    grid-row: 2/4;
    margin-top: 2%;

    /* display: block;
    text-align: center; */
}

#signin-form {
    box-sizing: border-box;
    text-align: left;

    width: 430px;
    height: 710px;

    padding-top: 5%;
    padding-bottom: 6%;

    background: #E2E6E9;
    border-radius: 43px;
}

#signin-form input {
    border-radius: 13px;
    background-color:rgba(196, 196, 196, 0);
    border-color: rgba(0, 0, 0, 1);
    border-style: solid 0.5;
    font-family: 'Chivo', sans-serif;
    
    padding: 0.8em;
    width: 76%;
    height: 4%;

    border-collapse: collapse;
    overflow: scroll;

    display: block;
    margin-left: 9%;
    margin-top: 1%;
}

#signin-form label {
    /* display: block; */
    /* text-align: center; */
    margin-left: 9%;
    font-size: 1.2em;
}

::placeholder {
    font-family: 'Chivo', sans-serif;
    color: rgba(0, 0, 0, 0.27);
    font-size: 1.2em;
}

.signup-action-btn {
    font-family: 'Chivo', sans-serif;
    font-size: 1.3em;
    border-radius: 25px;
    background-color:rgba(255, 201, 43, 1);
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    /* margin-right: 10px; */
    padding: 5px 63px;
    margin-left: 8%;
    margin-bottom: 5%;
    width: 84%;
}

.signin-form span {
    display: block;
    text-align: center;
    font-size: 1.2em;
    padding: 0.3em;
}

.signin-form span a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.signin-form span a:hover {
    text-decoration: underline;
}

.signin-footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

.signin-footer a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;

}

.signin-footer a:hover {
    color: rgba(255, 201, 43, 1);
}